@import url("font.css") all;
/* ----------------------------------- */
body,*,span{
    font-family: yekan,sans-serif;
}
input{font-family: yekan,sans-serif;}
.rtl{
    direction: rtl;
}
.navbar{
    border-radius: 0;
}